@using HuntingModel.Localization
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = AccountRes.PAGE_TITLE_LOCKOUT;
}

<hgroup>
    <h1 class="text-danger">@AccountRes.LABEL_LOCKOUT_LINE1</h1>
    <h2 class="text-danger">@AccountRes.LABEL_LOCKOUT_LINE2</h2>
</hgroup>
