@using HuntingModel.Localization
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = AccountRes.PAGE_TITLE_LOGIN_ERROR;
}

<hgroup>
    <h1 class="text-danger">@AccountRes.LABEL_LOGIN_ERROR_LINE1</h1>
    <h2 class="text-danger">@AccountRes.LABEL_LOGIN_ERROR_LINE2</h2>
</hgroup>
