@using HuntingModel.Localization
@model HuntingModel.ViewModel.TerritoryModels.TerritoryMapSavedModel

@if (Model.IsSuccess)
{
    @TerritoryRes.LABEL_MAP_UPDATE_SUCCESS
    <div id="map-data-ids" data-area-ids="@Model.MapAreaIdString" data-item-ids="@Model.MapItemIdString"></div>
}
else
{
    @TerritoryRes.LABEL_MAP_UPDATE_FAIL
}