@using HuntingModel.Localization
@model HuntingModel.ViewModel.MapItemTypeModels.MapItemTypeUpdateModel
@{
    ViewBag.Title = MapItemTypeRes.PAGE_TITLE_CREATE;
}

<h2>@MapItemTypeRes.PAGE_TITLE_CREATE</h2>
<h4>@MapItemTypeRes.LABEL_CREATE_INFO</h4>
<hr />

@Html.Partial("~/Views/MapItemType/CommonLayout/PartialUpdate.cshtml", Model)

@section scripts {
    @Html.Partial("~/Views/MapItemType/CommonLayout/PartialUpdateScripts.cshtml", Model)
}
