<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets>
    <target name="logfile" xsi:type="File" fileName="${logDirectory}/log.txt" layout="${longdate}|${callsite}|${level}|${message}|${onexception:${exception:maxInnerExceptionLevel=5:format=ToString}}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />    
  </rules>
</nlog>