<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets>
    <target name="logfile" xsi:type="File" fileName="${logDirectory}/log.txt" layout="${longdate}|${callsite}|${level}|${message}|${onexception:${exception:maxInnerExceptionLevel=5:format=ToString}}" />
    <target name="trace" xsi:type="Trace" layout="${logger} ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="trace" />
  </rules>
</nlog>