<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HuntingModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="HuntingEntities" connectionString="metadata=res://*/Database.HuntingDataModel.csdl|res://*/Database.HuntingDataModel.ssdl|res://*/Database.HuntingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BIGTOWER\SQLEXPRESS;initial catalog=hunting;User id=huntinguser;Password=Password10;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <HuntingModel.Properties.Settings>
      <setting name="AdminEmail" serializeAs="String">
        <value>jiri_koudelka@yahoo.co.uk</value>
      </setting>
      <setting name="AdminPassword" serializeAs="String">
        <value>Saruman1</value>
      </setting>
      <setting name="AdminFullname" serializeAs="String">
        <value>Jiří Koudelka</value>
      </setting>
      <setting name="EmailCodeExpireHours" serializeAs="String">
        <value>168</value>
      </setting>
      <setting name="GoogleMapsAPIKey" serializeAs="String">
        <value>AIzaSyCUXRhuDxMR5D_9MKP4SYMgRpbC-EG-fq4</value>
      </setting>
      <setting name="UserLocationLastMinutes" serializeAs="String">
        <value>360</value>
      </setting>
    </HuntingModel.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
